@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lightest-pink:rgb(255, 247, 255);
    --light-pink: rgb(255,207,255);

    /*TODO: Light-purple & purple tá nuito infantil não? */
    --light-purple:rgb(239, 223,255);
    --purple: rgb(32,0,96);
    --dark-purple:rgb(16, 0, 32);
    --darkest-purple:rgb(4, 0, 4);

    --cyan: rgb(96, 226, 255);
    --green: rgb(96, 255, 226);
}

.light {
    --background:var(--lightest-pink);
    --text:var(--darkest-purple);
    --primary:var(--light-purple);
    --secondary:var(--purple);
    --accent:var(--green);
}

.dark {
    --background:var(--darkest-purple);
    --text:var(--lightest-pink);
    --primary:var(--dark-purple);
    --secondary:var(--light-pink);

    --accent: var(--cyan);
}

/* TODO: send somethings to tailwind.config:*/
@layer utilities {
    /* TODO: do this with tailwind for consistensy */
    .contentWidth{
        width:90%;
        max-width:1280px;
    }
    .myBox{
        padding:0.5em;
        border-radius: 12px;
        border: 1px solid var(--secondary);
    }
    .myShadow{
        box-shadow:0px 0px 32px 1px var(--primary);
    }
    .inlineContent{
        display:flex;
        gap:1em;
    }
}

html{
    font-family: var(--league-gothic);
}