@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-pink:rgb(255, 248, 255);
    --dark-pink:rgb(139, 100, 175);
    --light-purple:rgb(80, 0, 120);
    --dark-purple:rgb(2, 0, 5);
    --neon-green:rgb(100, 255, 100);
    --cyan:rgb(160, 220, 255);
}

.light {
    --background:var(--light-pink);
    --contrast:var(--light-purple);
    --accent:var(--neon-green);
    --text:var(--dark-purple);
}

.dark {
    --background:var(--dark-purple);
    --contrast:var(--dark-pink);
    --accent:var(--cyan);
    --text:var(--light-pink);
}

@layer utilities {
    .textBox{
        width:75%;
        padding:1em;
        border-radius: 6px;
        /*animar a sombra!*/
        box-shadow: 0px 0px 16px 1px var(--contrast);
    }
}

html{
    font-family: var(--league-gothic);

}